---
import typography from '@tailwindcss/typography';

import BaseLayout from "../layout/BaseLayout.astro"

import RichTextRenderer from "../components/RichRenderer"

let aboutContent = 'Error de recepción de contenido.'
const response = await fetch(`${import.meta.env.NEXT_PUBLIC_SERVER_URL}/api/globals/about-content`);
if (response.ok) {
  const pageData = await response.json();
  aboutContent = pageData.content;
}
---

<BaseLayout title="David Barrios: Sobre mi">

  <div class="prose-invert lg:prose-xl max-w-none">
    {aboutContent && <RichTextRenderer data={aboutContent} client:load />}
  </div>

</BaseLayout>
