---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout title="David Barrios: Sobre mi">
  <p>Productor audiovisual especializado en postproducci贸n de v铆deo y en postproducci贸n de audio.</p>
  <p>Mi trayectoria comenz贸 en la adolescencia, creando v铆deos de videojuegos y produciendo m煤sica propia, lo que me llev贸 a descubrir mi pasi贸n por la imagen y el sonido. Desde entonces, he seguido desarrollando mis habilidades t茅cnicas y creativas con herramientas como After Effects, Premiere Pro y Davinci Resolve Studio para edici贸n de v铆deo y VFX, y Reaper y Cubase para composici贸n y tratamiento de sonido, ejerciendo para proyectos para empresas:</p>

  <li>Edici贸n de v铆deo 谩gil y narrativa.</li>
  <li>Motion graphics y efectos visuales.</li>
  <li>Producci贸n, mezcla y masterizaci贸n de audio.</li>
  <li>Integraci贸n completa de imagen + sonido en un mismo flujo de trabajo.</li>

  <h1> Objetivo</h1>
  <p>Mi meta es aportarle el m谩ximo valor a los dem谩s con mis conocimientos y herramientas.</p>

  <p> Abierto a colaboraciones, proyectos freelance y oportunidades presenciales y en remoto.</p>
</BaseLayout>
