---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout title="David Barrios: Sobre mi">
  <li><b>Linkedin</b>: https://www.linkedin.com/in/david-j-barrios?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BsaeqBfu5T9mdD4dM7R9Hfw%3D%3D</li>
  <li><b>Youtube</b>: https://www.youtube.com/@david.j.barrios</li>
  <li><b>email</b>: davidbarriosproducciones@gmail.com</li>
</BaseLayout>
