---
import BaseLayout from '../layout/BaseLayout.astro'

import VideoModal from '../components/Videomodal.jsx'
import Videobox from '../components/Videobox.astro'

const response = await fetch('https://broweb-six.vercel.app/api/videos?limit=1000');
const data = await response.json();
const videos = data.docs;

---

<BaseLayout title="David Barrios: Portfolio">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" id="video-gallery">
    {videos.map(video => (
      <Videobox
        id={video.videoId}
        thumbnailUrl={video.thumbnailUrl}
        description={video.description}
      />
    ))}
  </div>

  <VideoModal client:load listenOnId="video-gallery"/>
</BaseLayout>
