---

import BaseLayout from '../layout/BaseLayout.astro'

import VideoModal from '../components/Videomodal.jsx'
import Videobox from '../components/Videobox.astro'

const response = await fetch('https://broweb-six.vercel.app/api/videos?limit=1000&sort=priority');

interface VideoInput {
  videoUrl: string,
  description: string,
}

interface VideoOutput {
  videoId: string,
  description: string,
}

let videosIdAndDescription = [] as VideoOutput[]

if (response.ok) {
  const data = await response.json();
  const videos = data.docs as VideoInput[];

  const youtubeUrlRegexp = /(?:watch\?v=|youtu\.be\/|\/(?:embed|shorts|live)\/)([a-zA-Z0-9_-]{11})/
  videosIdAndDescription = videos
    .map(({ videoUrl, description }) => {
        const result = videoUrl.match(youtubeUrlRegexp)
        return result ? { videoId: result[1], description } : null
      })
    .filter(_ => _ != null);
} else {
  console.error("Failed to fetch videos from API:", response.status,
      response.statusText);
}

---

<BaseLayout title="David Barrios: Portfolio">
  <!-- <h2 class="font-display font-light tracking-[0.15em] mb-23">Seleccionar proyecto</h2> -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-3 gap-y-15" id="video-gallery">
    {videosIdAndDescription.map(({ videoId, description }) => (
      <Videobox
        id={videoId}
        thumbnailUrl={`https://img.youtube.com/vi/${videoId}/maxresdefault.jpg`}
        description={description}
      />
    ))}
  </div>

  <VideoModal client:load listenOnId="video-gallery"/>
</BaseLayout>
