---
// src/components/Header.astro

const { pathname } = Astro.url;

const SERVER_URL = import.meta.env.NEXT_PUBLIC_SERVER_URL;
const pagesRequest = await fetch(`${SERVER_URL}api/pages?limit=100`);
let pagesTitleAndName : { pageName: string; pageTitle: string; }[]= [];

if (pagesRequest.ok) {
  const pagesData = await pagesRequest.json();
  pagesTitleAndName = pagesData.docs.map((p: any) => ({
    pageName: p.pageName,
    pageTitle: p.pageTitle
  }));
} else {
  console.error('Failed to fetch payload pages for the header menu links.')
}

function isActive(href: string) {
  if (href === '/') {
    return pathname === '/';
  }
  return pathname.startsWith(href);
}

const baseClasses = "font-logo font-light text-gray-300 hover:text-gray-100"
const activeClasses = "text-white"
---

<div class="flex flex-1 flex-row-reverse items-center">
  <nav class="flex flex-wrap flex-col gap-3 pr-10 md:pr-0 md:gap-8 md:flex-row">
    <a
      href="/"
      class:list={[
        baseClasses,
        { [activeClasses]: isActive('/') }
      ]}
    >
      Home
    </a>
    <a
      href="/video-vfx"
      class:list={[
        baseClasses,
        { [activeClasses]: isActive('/video-vfx') }
      ]}
    >
      Video/VFX
    </a>
    <a
      href="/audio-music"
      class:list={[
        baseClasses,
        { [activeClasses]: isActive('/audio-music') }
      ]}
    >
      Audio/Music
    </a>

    <a
      href="/about"
      class:list={[
        baseClasses,
        { [activeClasses]: isActive('/about') }
      ]}
    >
      About
    </a>
    <a
      href="/contact"
      class:list={[
        baseClasses,
        { [activeClasses]: isActive('/contact') }
      ]}
    >
      Contact
    </a>
    {pagesTitleAndName && pagesTitleAndName.map(({ pageName, pageTitle }) => {
      return (
        <a
          href={`/${pageName}`}
          class:list={[
            baseClasses,
            { [activeClasses]: isActive(`/${pageName}`) }
          ]}
        >
          {`${pageTitle}`}
        </a>
      )
    })}
  </nav>
</div>
