---
// src/components/LinkedInBadge.astro
---

<div class="w-fit badge-base LI-profile-badge" 
  data-locale="es_ES" 
  data-size="medium"
  data-theme="dark" 
  data-type="HORIZONTAL" 
  data-vanity="david-j-barrios"
  data-version="v1"
>

  <a class="badge-base__link LI-simple-link"
    href="https://es.linkedin.com/in/david-j-barrios/es?trk=profile-badge">
    David J. Barrios
  </a>
</div>

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
