---
import { Image } from 'astro:assets';

export interface Props {
  id: string;
  thumbnailUrl: string;
  description: string;
}
const { id, thumbnailUrl, description } = Astro.props
---

<article
  class="rounded-sm shadow-md overflow-hidden
    transition-shadow duration-300 cursor-pointer bg-black
    hover:border-gray-700"
  data-trigger="play-video"
  data-videoid={id}
>
  <Image class="w-full h-auto aspect-video object-cover"
      src={thumbnailUrl} alt={description}
      width="1280" height="720"/>
  <div class="p-4 py-15">
    <p
      class="font-medium text-sm line-clamp-1 text-gray-200"
    >
      {description}
    </p>
  </div>
</article>
