---
export interface Props {
  id: string;
  thumbnailUrl: string;
  description: string;
}
const { id, thumbnailUrl, description } = Astro.props
---

<article
  class="rounded-lg shadow-md overflow-hidden
    transition-shadow duration-300 cursor-pointer bg-gray-800
    border border-gray-700 hover:border-gray-600"
  data-trigger="play-video"
  data-videoid={id}
>
  <img class="w-full aspect-video object-cover"
      src={thumbnailUrl} alt={description}></img>
  <div class="p-4">
    <p
      class="font-medium line-clamp-2 text-gray-300 hover:text-gray-200"
    >
      {description}
    </p>
  </div>
</article>
