---
import '../styles/global.css';

export interface Props {
  title: string;
}

const { title } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
    class="flex flex-col min-h-screen bg-black
      text-gray-200 transition-colors duration-300"
  >
    <header class="w-full">
      <div class="flex gap-x-8 max-w-6xl mx-auto px-4 mt-4 py-17 items-center">
        <h1 class="font-logo text-4xl font-bold cursor-default">
          <a href="/">DAVID J. BARRIOS</a>
        </h1>
        <div class="flex flex-1 flex-row-reverse items-center">
          <nav class="flex flex-wrap flex-col gap-3 pr-10 md:pr-0 md:gap-8  md:flex-row">
            <a
              href="/"
              class="font-display font-light text-gray-300
                hover:text-gray-400 hover:text-gray-100"
            >
              Proyectos
            </a>
            <a
              href="/about"
              class="font-display font-light text-gray-300
                hover:text-gray-400 hover:text-gray-100"
            >
              Sobre mí
            </a>
            <a
              href="/contact"
              class="font-display font-light text-gray-300
                hover:text-gray-400 hover:text-gray-100"
            >
              Contacto
            </a>
          </nav>
        </div>
      </div>
    </header>
		<main class="flex-1 w-full">
      <div class="max-w-6xl mx-auto px-4 py-8">
        <slot/>
      </div>
    </main>
	</body>
</html>
